body {
  background-image: url("chicago copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  height: 100%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: larger;
}

.card-background {
  background-color: #252836;
  opacity: 1;
  float: right;
  max-height: 100%;
  max-width: 100%;
  margin-top: 10%;
  /* margin-right: 5%; */
  /* padding: medium; */
  /* position: fixed right; */
  /* margin-bottom: 5%; */
  /* max-width: 40%; */
}

.card-text-color {
  color: rgb(255, 255, 255);
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.icon {
  font-size: 20px;
  position: auto;
  display: inline-block;
  border-radius: 90%;
  border: solid 1px whitesmoke;
  color: white;
  margin-bottom: 1em;
}

.my-card-img {
  margin-top: 1em;
  max-width: 75%;
  opacity: 1;
}

.footer {
  margin-top: 30%;
  text-align: center;
  color: rgb(214, 214, 214);
  font-weight: 200;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

@media only screen and (min-width: 768px) {
  .card-properties {
    width: 10%;
    height: fit-content;
  }
}
@media only screen and (min-width: 600px) {
  .card-properties {
    width: 33%;
    height: fit-content;
  }
}
@media only screen and (max-width: 600px) {
  .card-properties {
    width: 41%;
  }
}
